body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 115px 20px;
	margin: 0;
	background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat, 
				url('./images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 245px 265px;
	grid-template-areas: 
	"copy rate"
	"user user"
	;
	grid-row-gap: 90px;
	max-width: 1110px;
	width: 100%;
}

.copy_Sec {
	grid-area: copy;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copy_Sec h2 {
	font-family: 'League Spartan', sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: hsl(300, 43%, 22%);
	margin: 0;
	max-width: 400px;
	width: 100%;
}

.copy_Sec p {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: hsl(303, 10%, 53%);
	margin: 0;
	max-width: 400px;
	width: 100%;
	line-height: 20px;
}

.rate_Sec {
	grid-area: rate;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#rate_1 {
	align-self: flex-start;
}

#rate_2 {
	align-self: center;
	box-sizing: border-box;
	margin: 15px 0;
}

#rate_3 {
	align-self: flex-end;
}

.rate_Cont {
	display: flex;
	align-items: center;
	max-width: 445px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	background-color: hsl(300, 24%, 96%);
	box-sizing: border-box;
	padding: 15px 30px 15px 30px;
}

.icons_star {
	margin-right: 30px;
}

.rated_in {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: hsl(300, 43%, 22%);
	margin: 0;
}

.review_Sec {
	display: flex;
	justify-content: space-between;
	grid-area: user;
}

#review_1 {
	align-self: flex-start;
}

#review_2 {
	align-self: center;
	margin: 0 20px;
}

#review_3 {
	align-self: flex-end;
}

.grid_Review {
	display: grid;
	max-width: 350px;
	min-width: 300px;
	width: 100%;
	height: 235px;
	box-sizing: border-box;
	padding: 40px 30px 45px 30px;
	grid-template-columns: 40px auto;
	grid-template-rows: 40px auto;
	grid-template-areas: 
	"img info"
	"review review"
	;
	background-color: hsl(300, 43%, 22%);
	border-radius: 10px;
}

.img_User {
	grid-area: img;
}

.img_User img {
	width: 40px;
	height: auto;
	border-radius: 20px;
}

.info_User {
	grid-area: info;
	display: grid;
	align-items: center;
	height: 35px;
	box-sizing: border-box;
	margin-left: 20px;
}

.info_User h3 {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: hsl(0, 0%, 100%);
	margin: 0;
}

.info_User p {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: hsl(333, 80%, 67%);
	margin: 0;
}

.review {
	grid-area: review;
	display: flex;
	align-items: flex-end;
}

.review p {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: hsl(0, 0%, 100%);
	margin: 0;
	line-height: 20px;
}

@media (max-width: 979px) {
	body {
		padding: 80px 20px;
	}

	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		"copy"
		"rate"
		"user"
		;
		grid-row-gap: 45px;
	}

	.copy_Sec h2 {
		max-width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.copy_Sec p {
		max-width: 100%;
		text-align: center;
	}

	.rate_Cont {
		flex-direction: column;
	}

	.icons_star {
		margin-right: 0;
	}

	.review_Sec {
		flex-direction: column;
	}

	.grid_Review {
		max-width: 100%;
		min-width: 50px;
		width: 100%;
		height: auto;
		grid-row-gap: 10px;
	}

	#review_2 {
		margin: 20px 0;
	}
}

@media (max-width: 769px) {
	body {
		background: url('./images/bg-pattern-top-mobile.svg') top left no-repeat, 
					url('./images/bg-pattern-bottom-mobile.svg') bottom right no-repeat;
	}
}

@media (max-width: 426px) {
	.copy_Sec h2 {
		font-size: 38px;
	}
}